{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Red-Ice</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block logo %}
  
  </div>


  <div class="nav_bar">
      
   <div class="menu" >
      
    {% block sidebar %}
      <ul class="sidebar-nav">  
          <a  href="{% url 'index' %}"><img src="{% static 'image/logo.jpg' %}" height="25px" width="25px"></a>  
          {% for c in categories %}
          <a href="{{ c.get_absolute_url }}">{{ c.categories_title }}</a>    
          {% endfor %}         
          <a href="{% url 'index' %}">Доставка</a> 
          <a href="{% url 'index' %}">Клиентам</a> 
          <a href="{% url 'index' %}">Сотрудничество</a>            
    
    </div>
 
    
    <div class="cart">
      <div class="login"><a href="{% url 'login' %}"><img src="{% static 'image/login.png' %}" height="25px" width="25px"></a>  </div>
     <a href="{%url 'cart_detail'%}"><img src="{% static 'image/cart.png' %}" height="25px" width="25px"></a>
     <div class="cart_quantity">0</div> 
      </div>
    </div>
    {% endblock %}

{% block baner %}
<div  style ="background-image:url('{% static 'image/baner/baner1.jpg' %}') ;" >

    <div class="slider" style="width: 50%">
      <div class="slider__wrapper" >
        <div class="slider__item">
          <div style="height: 450px; background: #dcd8d9; 
          display: flex;
          justify-content: flex-end;
          
          
          "><img src="{% static 'image/baner/image/den2.jpg' %}" height="450px"></div>
        </div>
        
     



        <div class="slider__item">
          <div style="height: 450px; display: flex;
          justify-content: flex-end;
          
          width: 100%; background: #dcd8d9;">
            <img src="{% static 'image/baner/image/den1.jpg' %}" height="450px"></div>
        </div>
        <div class="slider__item">
          <div style="height: 450px; width: 300px; display: flex;
          flex-direction: column;
           width: 100%; background: #dcd8d9;">
            <h1 style="color: red">Акция</h1>
            <h2>Выиграй любую вещь из нашего магазина</h2>
            <h3>Подробнее на нашей страничке в инстаграм</h3>
            <a href="" style="font-size: 14px">Перейти</a>
          </div>

        </div>
   
      </div>
     
    </div>

  

  </div> 
  {% endblock %}
{% endblock %}
      
{% block content %} 


      
      
{% endblock %}
{% block footer%}
<div class="footer">

</div>
{% endblock %}
  <script src="{% static 'js/script.js' %}"></script>
  <script>
      'use strict';
      var multiItemSlider = (function () {
        return function (selector, config) {
          var
            _mainElement = document.querySelector(selector), // основный элемент блока
            _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
            _sliderItems = _mainElement.querySelectorAll('.slider__item'), // элементы (.slider-item)
            _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
            _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
            _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
            _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
            _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента    
            _positionLeftItem = 0, // позиция левого активного элемента
            _transform = 0, // значение транфсофрмации .slider_wrapper
            _step = _itemWidth / _wrapperWidth * 100, // величина шага (для трансформации)
            _items = [], // массив элементов
            _interval = 0,
            _config = {
              isCycling: false, // автоматическая смена слайдов
              direction: 'right', // направление смены слайдов
              interval: 5000, // интервал между автоматической сменой слайдов
              pause: false // устанавливать ли паузу при поднесении курсора к слайдеру
            };
  
          for (var key in config) {
            if (key in _config) {
              _config[key] = config[key];
            }
          }
  
          // наполнение массива _items
          _sliderItems.forEach(function (item, index) {
            _items.push({ item: item, position: index, transform: 0 });
          });
  
          var position = {
            getItemMin: function () {
              var indexItem = 0;
              _items.forEach(function (item, index) {
                if (item.position < _items[indexItem].position) {
                  indexItem = index;
                }
              });
              return indexItem;
            },
            getItemMax: function () {
              var indexItem = 0;
              _items.forEach(function (item, index) {
                if (item.position > _items[indexItem].position) {
                  indexItem = index;
                }
              });
              return indexItem;
            },
            getMin: function () {
              return _items[position.getItemMin()].position;
            },
            getMax: function () {
              return _items[position.getItemMax()].position;
            }
          }
  
          var _transformItem = function (direction) {
            var nextItem;
            if (direction === 'right') {
              _positionLeftItem++;
              if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) > position.getMax()) {
                nextItem = position.getItemMin();
                _items[nextItem].position = position.getMax() + 1;
                _items[nextItem].transform += _items.length * 100;
                _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
              }
              _transform -= _step;
            }
            if (direction === 'left') {
              _positionLeftItem--;
              if (_positionLeftItem < position.getMin()) {
                nextItem = position.getItemMax();
                _items[nextItem].position = position.getMin() - 1;
                _items[nextItem].transform -= _items.length * 100;
                _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
              }
              _transform += _step;
            }
            _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
          }
  
          var _cycle = function (direction) {
            if (!_config.isCycling) {
              return;
            }
            _interval = setInterval(function () {
              _transformItem(direction);
            }, _config.interval);
          }
  
          // обработчик события click для кнопок "назад" и "вперед"
          var _controlClick = function (e) {
            if (e.target.classList.contains('slider__control')) {
              e.preventDefault();
              var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
              _transformItem(direction);
              clearInterval(_interval);
              _cycle(_config.direction);
            }
          };
  
          var _setUpListeners = function () {
            // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
            _sliderControls.forEach(function (item) {
              item.addEventListener('click', _controlClick);
            });
            if (_config.pause && _config.isCycling) {
              _mainElement.addEventListener('mouseenter', function () {
                clearInterval(_interval);
              });
              _mainElement.addEventListener('mouseleave', function () {
                clearInterval(_interval);
                _cycle(_config.direction);
              });
            }
          }
  
          // инициализация
          _setUpListeners();
          _cycle(_config.direction);
  
          return {
            right: function () { // метод right
              _transformItem('right');
            },
            left: function () { // метод left
              _transformItem('left');
            },
            stop: function () { // метод stop
              _config.isCycling = false;
              clearInterval(_interval);
            },
            cycle: function () { // метод cycle 
              _config.isCycling = true;
              clearInterval(_interval);
              _cycle();
            }
          }
  
        }
      }());
  
      var slider = multiItemSlider('.slider', {
        isCycling: true
      })
  
    </script>




</body>
</html>